//Impotações ||
//           \/
//Priemira página do site
@import "./pages/video.scss";
@import "./mixins/mixins.scss";
@import "./variaveis.scss";
@import "./pages/inicio.scss";
@import "./pages/formsUser.scss";
@import "./pages/anuncio.scss";
//Fim das importações

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    /*background: rgb(31,31,31);
    background: radial-gradient(circle, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%);*/
    background-image: url('../imgs/ceu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $corPrimaria;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: $corSecundaria;
    border-radius: 10px;
  }

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vw;
}

#logo {
    width: 140px;
}

nav {
    display: none;
}


.navMenu {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: $corSecundaria;
    li {
        display: flex;
        justify-content: flex-start;
        list-style: none;
    }

    li a {
        text-transform: uppercase;
        font-size: 1.4em;
        margin: 2px 0px;
        color: $corPrimaria;
    }
}

#searchAndCar {
display: flex;
align-items: center;
}

#divRemoveMenu {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#removeMenu {
    width: 30px;
    height: 30px;
}

.btnsMenu {
    @include btnsMenu();
}

section {
    margin: 5% 0%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: $corSecundaria;
}

@media screen and (max-width: 670px) {
    #logo {
        width: 100px;
    }
    .navMenu {
        width: 100%;
    }
}