//Impotações ||
//           \/
//Priemira página do site
@import "./pages/video.scss";

@import "./mixins/mixins.scss";
@import "./variaveis.scss";
@import "./pages/inicio.scss";
@import "./pages/telaProduto.scss";
//Fim das importações

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: $cor-preta;
    border-radius: 10px;
  }

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vw;
}

#redes {
    padding: 0vh 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   background-color: $cor-branca;
   border-bottom: 1px solid $cor-preta;
   height: 30px;
}

#logo {
    width: 140px;
}

nav {
    display: none;
}

#faixa {
    background-color: $cor-preta;
    color: $cor-branca;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    padding: 5px;
}

.btnsMenu {
    @include btnsMenu();
}

footer {
    text-align: center;
    padding: 20px;
    background-color: $cor-preta;
    color: $cor-branca;
}