body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $cor-branca;
}


::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: $cor-preta;
    border-radius: 10px;
  }

  /*HEADER*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 3vw;
}

#faixa {
    font-size: 0.9em;
    color: $cor-branca;
    background-color: $cor-preta;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
    height: 20px;
}

#logo {
    margin-left: 33px;
    width: 180px;
    height: auto;
}

#redes {
    padding: 0vh 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   background-color: $cor-branca;
   border-bottom: 1px solid $cor-cinzaClaro;
   height: 30px;
}

#buscaCar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU INTERATIVO */

.btnsMenu {
    border: none;
    background-color: $cor-branca;
}

#navegacao {
    display: block;
    visibility: hidden;
    overflow-y: hidden;
    height: 0%;
    position: absolute;
    width: 350px;
    top: 0px;
    left: 0;
    background-color: $cor-preta;
    color: $cor-preta;
    transition: .5s;
    z-index: 1000;
}

#divUl {
    display: flex;
    justify-content: flex-start;
}

.quebra {
    width: 100%;
    height: 1px;
    background-color: $cor-branca;
}

#ulMenu {
    li {
    list-style: none;
    margin: 10px;
    font-size: 1.2em;
    }
}
#navegacao.active {
    visibility: visible;
    overflow-y: auto;
    display: block;
    height: 100vh;
    position: fixed ;
}

#navegacao.desative {
    display: block;
    visibility: hidden;
    overflow-y: hidden;
}           

#btnNav {  
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

#btnMenu2 {
    background-color: $cor-preta;
}

/*Buscas*/

.btnBusca {
    cursor: pointer;
    border: none;
    background-color: $cor-branca;
    margin: 5px;
}

#inputBusca {
    display: none;
}

/*FIM HEADER*/

/*FOOTER*/
#footer {
    border-top: 1px solid $cor-cinzaClaro;
    display: grid;
    justify-content: center;
    margin-top: 10%;
    padding: 3%;
    color: $cor-preta;
}

#pix {
    height: 25px;
}

#copright{
    display: grid;
    justify-content: center;
    color: $cor-cinzaClaro;
}

#pag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#adm1{
    margin-top: 0.5vh;
    color: $cor-preta;
    text-align: center;
}

/*FIM FOOTER*/


/*GRID REDES SOCIAIS MENU*/

#redesSociaisMenu {
    display: grid;
    justify-content: center;
    grid-template-areas: 'reSociMenu reSociMenu reSociMenu';
    position: absolute;
    bottom: 0;
    margin-bottom: 6%;
}

.reSociMenu {
    width: 116px;
    cursor: pointer;
    border: 1px solid $cor-branca;
    background-color: $cor-preta;
    padding: 5px;
}

.imgsPagamentos{
    width: 70px;
}

@media screen and (max-width: 523px){
    #logo {
        width: 130px;
    }
    #navegacao {
        width: 300px;
    }
    .reSociMenu {
        width: 100px;
        cursor: pointer;
        border: 1px solid rgb(255, 255, 255);
        background-color: black;
        padding: 5px;
    }
    }
    
    
    @media screen and (max-width: 312px){
        #logo {
            width: 100px;
        }
    }