/*logoAdm*/
.boxAdm {
  display: flex;
  justify-content: space-between;
}

#logoAdm {
  width: 180px;
  height: auto;
}

/*TELA DE ADM*/
#caixaCadasters {
  display: grid;
  justify-content: center;
  grid-template-areas: "boxCadaster boxCadaster boxCadaster";
  margin-top: 5vh;
  gap: 2vw;
}

.boxCadaster {
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}

.nameBoxCadaster {
  text-align: center;
  margin-bottom: 2vh;
  color: rgb(255, 255, 255);
}

.btnCadaster {
  font-size: 1em;
  border: none;
  border-radius: 2px;
  background-color: rgb(68, 68, 68);
  padding: 1vh;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 0px;
}

#divLixeira {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

#btnLixeira {
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
  background-color: red;
  padding: 1vh;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#textLixo {
  margin-left: 5px;
}

#btnEdiAdm {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(50, 88, 255);
  padding: 1vh;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
}

#boxInfoAdm {
  display: flex;
}

@media screen and (max-width: 466px) {
  #caixaCadasters {
    display: grid;
    justify-content: center;
    grid-template-areas: "boxCadaster";
  }
}
.divBusca {
  border-radius: 5px;
  margin: 3%;
  background-color: rgb(0, 0, 0);
}

.inputBusca {
  margin: 1%;
  height: 20px;
  border: none;
  outline: 0;
  border-radius: 5px;
  width: 97%;
  font-size: 1.1em;
  padding: 3px;
}

#them {
  display: grid;
  grid-template-areas: "cardsConsul cardsConsul cardsConsul ";
  justify-content: center;
  gap: 20px;
}

.cardsConsul {
  background-color: rgb(0, 0, 0);
  width: 360px;
  border-radius: 8px;
}

.nameConsul {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.divImgConsul {
  display: grid;
  justify-content: center;
  grid-template-areas: "imgsConsul imgsConsul";
}
.divImgConsul img {
  width: 160px;
  margin: 10px;
  border-radius: 5px;
}

.btnDivConsul {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.btns, .btnExclu, .btnConsul {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(68, 68, 68);
  padding: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  width: 330px;
  margin: 5px;
  text-transform: capitalize;
}

@media screen and (max-width: 1115px) {
  .inputBusca {
    width: 96%;
    font-size: 1em;
  }
  #them {
    grid-template-areas: "cardsConsul";
  }
}
@media screen and (max-width: 409px) {
  .inputBusca {
    width: 96%;
    font-size: 1em;
  }
  #them {
    grid-template-areas: "cardsConsul";
  }
  .cardsConsul {
    width: 280px;
  }
  .btns, .btnConsul, .btnExclu {
    width: 250px;
  }
  .divImgConsul {
    grid-template-areas: "imgsConsul";
  }
}
#formPrevia {
  display: grid;
  justify-content: center;
}

#serverResponse {
  margin: 2vh;
  color: rgb(255, 0, 0);
  text-align: center;
}

#inputHi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: rgb(68, 68, 68);
}

#boxTabelas {
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  margin: 15px 0px;
  padding: 10px 5px;
}

.btnsCria {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  text-transform: uppercase;
  width: 100%;
}

#infoTabelas {
  display: grid;
  grid-template-areas: "qualCor divQtdCor divTamanhos";
  gap: 10px;
  justify-content: center;
  text-align: center;
}

#definCorTam {
  margin-top: 10px;
  background-color: rgb(50, 88, 255);
}

#cancelTableInputs {
  background-color: red;
  margin-bottom: 3px;
}

.boxsTh {
  width: 161px;
}

.cardsTableInput {
  display: grid;
  grid-template-areas: "divInputCor divInputQtdCor divInputTamQtd ";
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.divTodoInput {
  background-color: rgb(61, 61, 61);
  padding: 5px;
  border-radius: 4px;
  margin: 10px 0px;
}

.inputColor {
  border: none;
  border-radius: 5px;
  width: 150px;
}

/*FORMS*/
textarea {
  resize: none;
}

#semiSubmit {
  background-color: rgb(50, 88, 255);
}

#sendNomeClass {
  background-color: red;
}

#cancelNomeClass {
  background-color: red;
}

#newClass {
  background-color: rgb(50, 88, 255);
  margin: 10px 0px;
}

#tiraClass {
  background-color: red;
  margin: 0px 0px 10px;
}

#description {
  height: 10vh;
}

#divInputClassi {
  display: flex;
  align-items: center;
  gap: 4px;
}

#excluPreviaInteira {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: red;
  padding: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 100%;
}

#marcaAtual, #excluMarcados {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(50, 88, 255);
  padding: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  text-transform: uppercase;
  padding: 10px;
  width: 49%;
  margin-bottom: 5px;
}

#excluMarcados {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
