@mixin buttons ($font-size, $border, $border-radius, $background-color, $padding, $color) {
    font-size: $font-size;
    border: $border;
    border-radius:$border-radius;
    background-color: $background-color;
    padding: $padding;
    color: $color;
    cursor: pointer;
    outline: 0;
    transition: .5s;
}