.divBusca{
    border-radius: 5px;
    margin: 3%;
    background-color: $cor-preta;
}

.inputBusca {
    margin: 1%;
    height: 20px;
    border: none;
    outline: 0;
    border-radius: 5px;
    width: 97%;
    font-size: 1.1em;
    padding: 3px;
}

#them {
    display: grid;
    grid-template-areas: 'cardsConsul cardsConsul cardsConsul ';
    justify-content: center;
    gap: 20px; 
}

.cardsConsul {
    background-color: $cor-preta;
    width: 360px;
    border-radius: 8px;
}

.nameConsul {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $cor-branca;
}

.divImgConsul {
    display: grid;
    justify-content: center;
    grid-template-areas: 'imgsConsul imgsConsul';
    img {
        width: 160px;
        margin: 10px;
        border-radius: 5px;
    }
}

.btnDivConsul {
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.btns {
    @include buttonsAdm(1em, none, 5px, $cor-cinza, 6px, $cor-branca);
    width: 330px;
    margin: 5px;
    text-transform: capitalize;
}

.btnConsul {
    @extend .btns;
    margin-bottom: 10px;
}

.btnExclu {
    @extend .btns;
}

@media screen and (max-width: 1115px){
    .inputBusca {
        width: 96%;
        font-size: 1em;
    }   

    #them {
        grid-template-areas: 'cardsConsul';
    }
}


@media screen and (max-width: 409px){
    .inputBusca {
        width: 96%;
        font-size: 1em;
    }   

    #them {
        grid-template-areas: 'cardsConsul';
    }

    .cardsConsul {
        width: 280px;
    }
    .btns {
        width: 250px;
    }
    .divImgConsul {
        grid-template-areas: 'imgsConsul';
    }
}
