#excluPreviaInteira {
    @include buttonsAdm(1em, none, 5px, $vermelho, 6px, $cor-branca);
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}

#btnVoltar {
    color: $cor-preta;
}

#marcaAtual {
    @include buttonsAdm(1em, none, 5px, $azulCheck, 6px, $cor-branca);
    text-transform: uppercase;
    padding: 10px;
    width: 49%;
    margin-bottom: 5px;
}

#excluMarcados {
    @extend #marcaAtual;
    background-color: $vermelho;
}

#divLista {
    display: grid;
    grid-template-areas: 'cardsListas cardsListas';
    justify-content: center;
    margin: 10px 0px 25px;
    gap: 2%;
}

.cardsListas {
    width: 240px;
    height: 290px;
    border-radius: 5px;
    background-image: url('../../imgs/fundo.jpg');
}

.divBtnAndCheck {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkExclu {
    width: 20px;
    height: 20px;
    margin: 0px;
    outline: 0;
    border: none;
}

#btnSalvarDados {
    text-transform: uppercase;
    @include buttonsAdm(0.9em, none, 5px, $azulCheck, 6px, $cor-branca);
}

.excluirOnePrev {
    @include buttonsAdm(0.9em, none, 5px, $vermelho, 6px, $cor-branca);
}


@media (max-width: 540px) {
    #divLista {
        display: grid;
        grid-template-areas: 'cardsListas';
        justify-content: center;
        margin: 10px 0px;
        gap: 2vw;
    }   
    .cardsListas {
        width: 260px;
        height: 350px;
        border-radius: 5px;
        background-image: url('../../imgs/fundo.jpg');
    }
}

@media (max-width: 445px) {
    #divLista {
        display: grid;
        grid-template-areas: 'cardsListas';
        justify-content: center;
        margin: 10px 0px;
        gap: 2vw;
    }   
    .cardsListas {
        width: 260px;
        height: 350px;
        border-radius: 5px;
        background-image: url('../../imgs/fundo.jpg');
    }
}