#boxTabelas {
    background-color: $cor-cinza;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 10px 5px;
}

.btnsCria{
    @include buttonsAdm(1em, none, 5px, $cor-branca, 6px, $cor-branca);
    text-transform: uppercase;
    width: 100%;
}

#infoTabelas {
    display: grid;
    grid-template-areas: 'qualCor divQtdCor divTamanhos';
    gap: 10px;
    justify-content: center;
    text-align: center;
  
}

#definCorTam {
    margin-top: 10px;
    background-color: $azulCheck;
}

#cancelTableInputs {
    background-color: red;
    margin-bottom: 3px;
}

.boxsTh {
    width: 161px;
}

.cardsTableInput {
    display: grid;
    grid-template-areas: 'divInputCor divInputQtdCor divInputTamQtd ';
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.divTodoInput {
    background-color: rgb(61, 61, 61);
    padding: 5px;
    border-radius: 4px;
    margin: 10px 0px;
}

.inputColor {
    border: none;
    border-radius: 5px;
    width: 150px;
}

/*FORMS*/

textarea {
    resize: none;
}

#semiSubmit {
  background-color: $azulCheck;
}

#sendNomeClass {
    background-color: $vermelho;
}

#cancelNomeClass {
    background-color: $vermelho;
}
#newClass {
    background-color: $azulCheck;
    margin: 10px 0px;
}

#tiraClass {    
    background-color: $vermelho;
    margin: 0px 0px 10px;
}

#description {
    height: 10vh;
}

#divInputClassi {
    display: flex;
    align-items: center;
    gap: 4px;
}