#formPrevia {
    display: grid;
    justify-content: center;
}

#serverResponse {
    margin: 2vh;
    color: rgb(255, 0, 0);
    text-align: center;
}

#inputHi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: $cor-cinza;
}
