
/*logoAdm*/

#logoAdm{
    width: 180px;
    height: auto;
}

/*TELA DE ADM*/

#caixaCadasters{
display: grid;
justify-content: center;
grid-template-areas: 'boxCadaster boxCadaster boxCadaster';
margin-top: 5vh;
gap: 2vw;
}

.boxCadaster {
border-radius: 5px;
padding: 20px;
background-color: $cor-preta;
font-weight: bold;
}

.nameBoxCadaster{
    text-align: center;
    margin-bottom: 2vh;
    color: $cor-branca;
}

.btnCadaster {
    @include buttonsAdm(1em, none, 2px, $cor-cinza, 1vh, $cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}


@media screen and (max-width: 466px){
    #caixaCadasters{
        display: grid;
        justify-content: center;
        grid-template-areas: 'boxCadaster';
        }
}