.boxForm {
    color: $cor-branca;
    display: grid;
    justify-content: center;
    text-align: center;
}

#senhaEsque {
    margin-top: 5px;
    font-size: 0.6em;
}

.divCheckbox {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxForm {
    width: 15px;
    height: 15px;
    margin-bottom: 6px;
}

.formEntre {
    width: 513px;
    margin: 50px 0px;
    padding: 20px;
    background-color: $cor-preta;
    border-radius: 10px;
}

.inputs {
    height: 3.5vh;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 1em;
    width: 98%;
    margin: 6px 0px;
}

.formsSelectsAndDate {
    margin-top: 1%;
    text-align: center;
    font-size: 0.8em;
}

.btnSub {
    @include buttons(1.2em, none, 5px, $cor-cinza, 6px,  $cor-branca);
    width: 100%;
    margin: 6px 0px 10px 0px;
    text-transform: uppercase;
&:hover {
    transition: .5s;
    box-shadow: 0px 1px 10px 3px $cor-cinza;
}
}

@media screen and (max-width: 542px){
    .formEntre {
        width: 330px;
    }
}


@media screen and (max-width: 385px){
    .formEntre {
        width: 280px;
    }
}

@media screen and (max-width: 330px){
    .formEntre {
        width: 250px;
    }
}