#boxFormsUser {
    margin: 20vh auto 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    padding: 10px;
    border: 1px solid $corBordasFormsUser;
    border-radius: 5px; 
    background: $corFormsUser;
    backdrop-filter: blur( 13.5px );
    color: $corPrimaria;
}

.titleForms {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.inputs {
    border-radius: 5px;
    border: none;
    padding: 5px;
}

#btnsForms {
    @include buttons(1em, $corPrimaria, $corSecundaria);
    border: 1px solid $corPrimaria;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: transparent;
        color: $corPrimaria;
    }
}

#possuiContaDiv {
    font-size: 0.9em;
    text-align: center;
    a {
        color: $corPrimaria;
    }
}