#sectionPgInicio {
    background-image: url("../imgs/costas.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#divBtnLanca {
    padding: 20% 0vw;
    display: flex;
    justify-content: center;
}

.btnsInit {
    @include buttons(1.5em, $cor-branca, $cor-preta)
}


.btnsInit:hover {
    @include buttons(1.5em, $cor-preta, $cor-branca)
}

#proximosLancaAndSobre {
    margin: 5vh;
    display: grid;
    grid-template-areas: 'cardParaPgProduto cardParaPgSobre';
    gap: 20px;
    grid-template-columns: 1fr 2fr;
}

#cardParaPgProduto {
    background-image: url('../imgs/usdripking.jpg');
}

#cardParaPgSobre {
    background-image: url('../imgs/img.png');
}

.divSeguraBtn {
    border-radius: 10px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

