
#containerCardLancamento {
    display: grid;
    grid-template-areas: 'cardsLanca cardsLanca cardsLanca cardsLanca';
    justify-content: center;
    gap: 15px;
    margin-top: 10vh;
}

.cardsLanca {
    width: 300px;
    background-color: $cor-preta;
    padding: 10px;
    border-radius: 10px;
}

.imgsCardsLanca {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.nomeCardsLanca {
    margin-top: 15px;
    text-align: center;
}

.cardDateLanca {
    text-align: center;
}


@media screen and (max-width: 1360px){
    #containerCardLancamento {
        grid-template-areas: 'cardsLanca cardsLanca cardsLanca';
    }
}

@media screen and (max-width: 1115px){
    #containerCardLancamento {
        grid-template-areas: 'cardsLanca cardsLanca ';
    }
}

@media screen and (max-width: 681px){
    #containerCardLancamento {
        grid-template-areas: 'cardsLanca';
    }
}

@media screen and (max-width: 360px){
    #containerCardLancamento {
        margin-top: 5vh;
    }
    .cardsLanca {
        width: 260px;
    }
}
