
.caixaDadosUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    color: $cor-branca;
}

.boxAdm {
    display: flex;
    width: 500px;
    padding: 2vh;
    border-radius: 5px;
    background-color: $cor-preta;
}

.nameAdm {
    margin: 0px;
    font-size: 1.1em;
}

.boxDados {
    margin-left: 15px;
}

.emailAdm {
    text-transform: none;
    font-size: 1em;
    color: $cor-cinzaClaro;
}

.btnEditarAdm {
    display: flex;
    justify-content: flex-end;
}

#contentsDados {
    padding: 2vh;
    width: 500px;
    margin: auto;
    color: $cor-branca;
    background-color: $cor-preta;
    border-radius: 5px;
}

.divInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
}

@media screen and (max-width: 466px){
        .boxAdm {
            
            width: 300px;
        }
}


@media screen and (max-width: 312px){
    
.nameAdm {
    font-size: 0.9em;
}
.emailAdm {
    font-size: 0.6em;
}
}