/*Section*/
#anuncioPrevias{
    background-image: url('../imgs/usdrip.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $cor-preta;
    display: flex;
    justify-content: center;
}

#aBtnLanca {
    margin: 25%;
}

#btnPreLanca {
    @include buttons(1.2em, none, 10px, $cor-branca, 5%,  $cor-preta);
    text-transform: uppercase;
}



#containerCard {
    margin-top: 6vh;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-areas: 'cards cards cards cards cards';
    gap: 3vh;
}

.cards {
    background-color: $cor-branca;
    text-align: center;
    width: 230px;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.imgsCards {
    width: 230px;
    margin: auto;
}

.imgsProduto {
    width: 230px;
    height: 330px;
}

.nomeProdutoCards {
    margin-top: 15px; 
}

.linksAnuProduct{
    opacity: 0;
    transform: translateX(-100%);
}

.linksAnuProduct[data-scroll] {
    opacity: 1;
    transform: translateX(0%);
    transition: 1s ease-in-out;
}

@media screen and (max-width: 1115px){
    #containerCard {
        grid-template-areas: 'cards cards cards cards';
    }
}

@media screen and (max-width: 1050px) {
    #containerCard {
        grid-template-areas: 'cards cards cards';
    }
}

@media screen and (max-width: 775px){
    #containerCard {
        grid-template-areas: 'cards cards';
    }
    #btnPreLanca {
    font-size: 1.2em;
}
}

@media screen and (max-width: 523px){
    .cards {
        width: 200px;
    }
    
    .imgsCards {
        width: 200px;
    }
    
    .imgsProduto {
        width: 190px;
    }
    
    .nomeProdutoCards {
        margin-top: 10px; 
    }
    .reSociMenu {
        width: 98px;
    }
}

@media screen and (max-width: 466px){
    #containerCard {
        grid-template-areas: 'cards';
    }
    .cards {
        width: 260px;
    }
    
    .imgsCards {
        width: 260px;
    }
    
    .imgsProduto {
        width: 250px;
    }
    
    .nomeProdutoCards {
        margin-top: 10px; 
    }
    
    #aBtnLanca {
        margin: 32vh;
    }
}

@media screen and (max-width: 400px){
    #aBtnLanca {
        margin: 26vh;
    }
}

@media screen and (max-width: 320px){
    #aBtnLanca {
        margin: 24vh;
    }
    #containerCard {
        grid-template-areas: 'cards';
    }
    .cards {
        width: 230px;
    }
    
    .imgsCards {
        width: 230px;
    }
    
    .imgsProduto {
        width: 220px;
    }
    
    .nomeProdutoCards {
        margin-top: 10px; 
    }
}