#containerCard {
    display: grid;
    justify-content: center;
    grid-template-areas: 'cardsProdu cardsProdu cardsProdu cardsProdu ';
    gap: 20px;
    margin: 20px 0px;
}

.cardsProdu {
    width: 280px;
    padding: 10px;
    box-shadow: 0px 5px 10px 3px rgba(109, 108, 108, 0.349);
    border-radius: 6px;
}

.divImgsProdu {
    width: 280px;
}

.imgsProdu {
    width: 280px;
    height: 280px;
}

.containerInfosInit {
    text-align: center;
}