#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#entre {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 300px;
    position: relative;
    text-align: center;
}