@import "./colors/colors.scss";
@import "./mixinsAdm/mixinsAdm.scss";
@import "./Pages/pageAdm.scss";
@import "./Pages/consultas.scss";
@import "./Pages/formPrevia.scss";
@import "./Pages/formProdutos.scss";